html,
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(14, 54, 39);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title-wrapper,
.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  width: 27rem;
  height: 3rem;
  margin: auto;
  position: relative;
}

.title-wrapper {
  padding-top: 5%;
}

.title-wrapper h1,
.input-wrapper svg,
.input-wrapper input {
  color: white;
}
.title-wrapper h1 {
  font-size: 4rem;
  font-weight: 500;
}

.input-wrapper svg {
  height: 3rem;
  cursor: pointer;
  position: absolute;
  left: 95%;
  padding: 0;
}

.input-wrapper input {
  background-color: rgb(14, 54, 39);
  border: 1px solid white;
  flex: 1;
  font-size: 2rem;
  text-align: center;
  padding: 0 3rem;
}
